@import "animations.css";
@import "fonts.css";

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/imageedit_47_8943911883.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#head-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

#modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/* @media screen and (min-width: 1601px){
  #modal-data-container img {
    width: 300px;
    height: auto;
  }
  #modal-data-container {
    font-size: 1.3em;
  }
  .img-container{
    max-width: 45%;
  }
} */

/* @media screen and (max-width: 1600px) and (min-width: 1351px){
  .title{
    justify-content: center;
  }
  .title h1{
    width: 100%;
    margin-left: 20px;
    max-width: 950px;
  }
}

@media screen and (max-width: 1350px) {
  #modal-data-container {
    max-height: 400px;
    width: auto;
    font-size: 1em;
  }
  #modal-data-container img {
    width: 185px;
    height: auto;
  }
  .wide-bubble img {
    min-width: 90%;
  }
  .title h1{
    max-width: 950px;
  }
}

@media screen and (max-width: 500px) {
  #modal-data-container {
    max-height: 400px;
    min-width: 700px;
    font-size: 0.9em;
  }
  #modal-selection {
    max-width: 450px;
  }
  .wide-bubble img {
    min-width: 90%;
  }
  .med-bubble{
    min-width: 20px;
  }
  .small-bubble{
    min-width: 20px;
  }
  .mini-bubble{
    min-width: 10px;
  }
  .title{
    text-align: center;
  }
  .title h1{
    font-size: 1.2em;
  }
} */

#modal-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dream-bubble.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  min-width: 800px;
  min-height: 100%;
}

#modal-selection {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

#modal-selection h5 {
  color: gray;
  font-weight: normal;
}

#modal-selection:hover {
  /* box-shadow: 4px 2px 2px 2px darkgray; */
  background-color: rgba(216, 216, 216, 0.1);
  cursor: pointer;
}

.flexbox {
  display: flex;
}

.width55 {
  width: 55%;
}

.padding10 {
  padding: 10px;
}

.margin10 {
  margin: 10px;
}

.rounded-corners {
  border: 1px solid lightgray;
  border-radius: 15px;
}

.box-shadow {
  box-shadow: 4px 2px 2px black;
}

.mr10 {
  margin-right: 10px;
}

.border-right {
  border-right: 0.5px solid lightgray;
}

.round-left {
  border-radius: 15px 0px 0px 15px;
}


.games {
  animation-delay: 0.25s;
}

.projects{
  animation-delay: 0.6s;
}

.center {
  align-self: center;
}

/* .title h1{
  font-weight: lighter;
  animation: type 3s;
  text-shadow: 2px 2px #ecdede;
} */

.cell-span-4-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: auto / span 4;
}

.img-container{
  width: 90%;
}

.overlay-img-container{  
  z-index: 2;    
  position: absolute; 
  max-width: 60%;
  margin: auto;
}

.cursor-hover{
  cursor: pointer;
}

.flex-start{
  align-self: flex-start;
} 

.width40{
  width: 40%;
}

.width80{
  max-width: 90%;
}

.padding-bottom{
  padding-bottom: 8%;
}
.img-container, .overlay-img-container{
  max-width: 80%;
}

/*-------------------------------------------*/

.aboutme-container {
  max-height: 100%;
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-left: 2%;
}

.title h1{
  font-family: comic-title;
  font-size: 5em;
  text-shadow: 2px 2px whitesmoke;
  animation: move-left-to-right 2.5s ease-in-out 1;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-row {
  grid-area: span 2 / span 12;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bottom-row{
  grid-row: 4 / 9;
  grid-column: span 4;
}

.cloud img:hover,
.overlay:hover{
  cursor: pointer;
}

.overlay{
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game{
  width: 50%;
}

#coding {
  width: 90%;
}

.top-row{
  grid-row: 3 / span 5;
  grid-column: span 4;
}

@media screen and (min-width: 500px){
  #media{
    width: 70%;
  }
  #game{
    width: 40%;
  }
  #coding {
    width: 100%;
  }
}

 @media screen and (min-width: 1350px){
  .cloud{
    max-width: 80%;
  }
  #media{
    width: 60%;
  }
  #game{
    width: 30%;
  }
  #coding {
    width: 90%;
  }
}

#row10{
  grid-row-start: 10;
  grid-column-start: 4;
}

#row11{
  grid-row-start: 11;
  grid-column-start: 5;
}

#row12{
  grid-row-start: 12;
  grid-column-start: 6;
}

.me{
  grid-area: 9 / 7 / -1 / -1 ;
  background-image: url("../images/me0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.col3{
  grid-area: 9 / span 3;
}

.med-bubble{
  width: 12%;
  float: right;
}

.small-bubble{
  position: relative;
  width: 20%;
  top: 60%;
  left: 40%;
  float: right;
}

.mini-bubble{
  width: 10%;
  position: relative;
  float: right;
  left: 40%;
}

#tech-stack-view{
  max-height: 100%;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/4814420.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#tech-stack-view h1{
  font-family: comic-title;
  font-size: 5rem;
  text-align: right;
  width: 96%;
  padding-top: 2%;
  text-shadow: 2px 2px whitesmoke;
}

.tech-stack-item{
  flex-shrink: 1;
}

#tech-stack {
  padding: 6%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.tech-stack-item img{
  max-width: 10%;
}